body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.home-bio {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 30%;
	margin-right: 30%;
}

.pfp {
	max-width: 12em;
	height: auto;
}

button {
	font-size: 18px;
	width: 7em;
	height: 3em;
	margin-left: 1em;
	margin-right: 1em;
}