body {
	font-family: Arial, Helvetica, sans-serif;
}

.home-bio {
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

.faq {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 30%;
	margin-right: 30%;
}

h1 {
	margin-top: 2em;
}

.pfp {
	max-width: 12em;
	height: auto;
}

button {
	font-size: 18px;
	background-color: #25a878; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
	margin: 10px;
  text-align: center;
  text-decoration: none;
}

.button-container {
	margin: auto;
	width: 70%;
}

button:hover {
	cursor: pointer;
	background-color: #197352;
}

.review {
	padding: 0.5em;
	font-size: 1.4em;
	background-color: rgb(234, 234, 234);
}

.review-author {
	color: rgb(101, 101, 101);
	font-style: italic;
}